<tmpl_loop name=passwd>
   <div>
    <fieldset>
       <legend><b><tmpl_var name="v_usuario"><b></legend>
       <b>pass:<b> <legend><tmpl_var name="v_pass"></legend>
       <b>uid:<b> <legend><tmpl_var name="v_uid"></legend>
       <b>guid:<b> <legend><tmpl_var name="v_guid"></legend>
       <b>desc:<b> <legend><tmpl_var name="v_desc"></legend>
       <b>home:<b> <legend><tmpl_var name="v_home"></legend>
       <b>shell:<b> <legend><tmpl_var name="v_shell"></legend>
    </fieldset>
  </div>
</tmpl_loop>
