<tmpl_loop name=passwd>
   <div>
     <fieldset>
       <legend><b><tmpl_var name="v_user"><b></legend>
       <legend><b>pass:<b> <tmpl_var name="v_pass"></legend>
       <legend><b>uid:<b> <tmpl_var name="v_uid"></legend>
       <legend><b>guid:<b> <tmpl_var name="v_gid"></legend>
       <legend><b>desc:<b> <tmpl_var name="v_desc"></legend>
       <legend><b>home:<b> <tmpl_var name="v_home"></legend>
       <legend><b>shell:<b> <tmpl_var name="v_shell"></legend>
    </fieldset>
  </div>
</tmpl_loop>
